$white: #ffffff;
$var2: #E3E3E3;
$black: #000000;
$violet: #7000FF;
$grey: #A3AABC;
$var5: #F1F5FF;
$var6: #FCF1FF;
$var7: #FFFBD6;
$var8: #F1FFE6;
$var9: #FFEEE1;
$var10: #FFEAEA;
$var11: #F7F7FF;
$yellow: #FFC803;
$purple: #E8007D;
$var14: #BAC1D3;
$burger-color: $black;

$md: 1024px;
$sm: 768px;

$museo-bold: 'Museo Sans Cyrl 500';

