@import "../../variables";

.courses-table {
  margin-top: 44px;

  .grey-text {
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;

    .courses-table__sort {
      display: flex;
      align-items: center;

      & > p {
        margin-right: 19px;
      }

      .sort-buttons {
        display: flex;
      }

      .rating-btn {
        width: 172px;
        height: 38px;
        margin-right: 20px;
      }

      .free-btn {
        width: 143px;
        height: 38px;
      }
    }

    .courses-table__author {
      display: flex;
      align-items: center;

      .author {
        margin-right: 38px;

        & > span {
          color: $violet;
          transition: color 0.3s;

          &:hover {
            cursor: pointer;
            color: $purple;
            transition: color 0.3s;
          }
        }
      }

      .date {
        & > time {
          color: $black;
        }
      }
    }
  }

  &__table {
    .table-title {
      margin-bottom: 27px;

      .rkc {
        &::after {
          position: absolute;
          top: -7px;
          height: 16px;
          width: 16px;
          content: url("../../images/hint.png");
        }

        &__popup {
          .popup-content {
            min-width: 520px;
          }
        }
      }

      .open-popup {
        .rkc__popup {
          z-index: 10;
          visibility: visible;
        }
      }

    }

    .courses-table__item {
      transition: box-shadow 0.3s;
      border-top: 1px solid #DFE3ED;
      padding-top: 23px;
      padding-bottom: 25px;
      position: relative;
      z-index: 2;

      &:last-child {
        border-bottom: 1px solid #DFE3ED;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 5px 30px rgba(41, 8, 13, 0.15);
        transition: box-shadow 0.3s;
      }
    }

    .row {
      display: grid;
      grid-template-areas:
              "sequence courname rkc school price credit duration linkitem"
              "sequence courlink rkc school price credit duration linkitem";
      grid-template-columns: 25px 1fr 70px 1fr minmax(100px, 120px) 120px 120px 186px;

      .sequence-item {
        grid-area: sequence;
        color: $grey;
      }

      .name-item {
        grid-area: courname;
        font-family: $museo-bold;
        font-size: 18px;
        margin-bottom: 14px;
        margin-right: 20px;
      }

      .courlink-item {
        grid-area: courlink;
        font-size: 16px;
        color: $violet;

        &:hover {
          color: $purple;
        }
      }

      .rkc-item {
        grid-area: rkc;
        font-size: 18px;
        color: #169F00;
      }

      .school-item {
        grid-area: school;
        padding-right: 10px;

        &__name {
          font-size: 18px;
          margin-bottom: 7px;
        }

        &__rating {
          margin-bottom: 16px;
        }

        &__feedbacks {
          font-size: 16px;
          color: $violet;

          &:hover {
            color: $purple;
          }
        }
      }

      .price-item, .credit-item, .duration-item {
        font-size: 18px;
      }

      .price-item {
        grid-area: price;
      }

      .credit-item {
        grid-area: credit;
      }

      .duration-item {
        grid-area: duration;
      }

      .link-item {
        grid-area: linkitem;

        .link {
          width: 186px;
          height: 45px;
          font-size: 18px;
          padding: 0;
        }
      }
    }
  }
}