@import "../templates/headBlock";

.head-present {
  background: #F6F7FF;

  .content {
    .box {
      .title {
        max-width: unset;
      }
    }
  }
}


.article {
  margin: 0 auto;
  max-width: 770px;
  padding-top: 43px;
  padding-bottom: 114px;

  h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 23px;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    margin-top: 19px;
    margin-bottom: 30px;
  }

  strong, h3 {
    font-family: $museo-bold;
  }

  a {
    color: $violet;
    transition: color 0.3s;

    &:hover {
      color: $purple;
    }
  }

  @media (max-width: $md) {
    padding: 19px 15px 54px;

    h2 {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 14px;
    }

    h3 {
      font-size: 19px;
      margin-bottom: 12px;
    }

    p, strong {
      font-size: 16px;
      margin-bottom: 12px;
    }

    img {
      margin-top: 12px;
      margin-bottom: 22px;
    }
  }
}